.AdminMain {
  // background-color: #253750;
  background-color: white;
  height: 100%;
}
.pfp {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.AdminHead {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding-bottom: 50px;
  .Right {
    color: black  ;
    font-size: 200%;
  }
}
.AdminOptions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 30px;
  .AddOption {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  .Search {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 300px;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  .Users {
    transition: 0.3s;

    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 300px;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
  }
  .Orders {
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 300px;
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
  }
  div:hover {
    scale: 1.05;
  }
  .Bars {
    display: flex;
    justify-content: center;
    padding: 20px; 
  }
  
}
