.productocontainer {
  padding-bottom: 20px;
  .productoshead {
    .prodcutHeadText {
      font-size: 36px;
      font-family: "Roboto";
      margin-top: 20px;
      margin-bottom: 20px;
      @media (max-width:1080px){
        font-size: 20px;
      }
      @media (max-width:768px){
      font-size: 16px;
      }
    }
  }
  .Cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @media (max-width:1400px){
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width:768px){
      grid-template-columns: 1fr;
    }
    .cardImg img {
      width: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .cardFoot {
      padding: 5px;
    }
    .FootHead {
      display: flex;
    }
    .FootBottom {
      display: flex;
      align-items: center;
      gap: 5px;
      .PriceText {
        color: white;
        padding: 5px;
      }
    }
    .card {
      width: 350px;
      cursor: pointer;
      transition: 0.3s;
      -webkit-box-shadow: 1px 1px 14px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 1px 14px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 1px 1px 14px -1px rgba(0, 0, 0, 0.75);
      border-radius: 4px;
    }
    .card:hover {
      scale: 1.05;
    }
    .delete{
      font-size:30px
    }
  }
}

.lightMode {
  background-color: #ffffff;
  color: #000000;

.productocontainer, .card {
    background-color: #f0f0f0;
    color: #000000;
  }

  .PriceText {
    background-color: black;
    color: white;
  }
}

.darkMode {
  background-color: #121212;
  color: #ffffff;

.productocontainer, .card {
    background-color: #333333;
    color: #ffffff;
  }

  .PriceText {
    background-color: #444444;
    color: #ffffff;
  }
  
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error {
  color: red;
  text-align: center;
  margin: 20px;
}