.footer {
  background-color: #1F2937;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
  width: 100%;
}

.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

h3{
    text-transform: uppercase;
    font-weight: 500;
    line-height: 120%;
}

.link{
text-decoration: none;
color: white;
}